nav {
  display: flex;
  color: white;
  height: 4rem;
  background: rgba(0, 0, 0, 0.7);
  padding-left: 2rem;
  padding-right: 2rem;
}

nav p {
  float: right;
  text-align: center;
  align-self: center;
  margin-left: auto;
}

.nav-link {
  margin: 1rem;
  color: goldenrod;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid goldenrod;
  text-align: center;
  align-self: center;
}

.nav-link:hover {
  transition: ease 100ms;
  border: 2px solid goldenrod;
  font-weight: 500;
  background-color: rgb(49, 47, 47);
}